@page "/faq"
<h3>FAQ</h3>

<h4>¿Cómo funciona?</h4>

<h4>¿Cómo empiezo?</h4>

<h4>¿Cómo accedo al evento que contraté?</h4>

<h4>Servicios: Cómo contratarlos</h4>

<h4>Pagar mediante MercadoPago</h4>

@code {

}
