@page "/faq"
<h3>FAQ</h3>

<h4>¿Cómo empiezo?</h4>

<p>
    Para empezar, deberás iniciar sesión. En el caso de que no tengas una cuenta registrada, podés crearte una apretando el botón "Iniciar Sesión" y luego "Registrarse".
    En caso de que tengas problemas, deberás comunicarte con uno de nuestros asesores
</p>

<h4>¿Cómo funciona?</h4>

<p>Nuestra aplicación te permitirá gestionar todo tu evento desde un panel de control personalizados (dashboard)</p>

<h4>¿Cómo cambio el idioma de la aplicación?</h4>

<p>En la parte superior derecha de la pantalla, vas a encontrar los idiomas disponibles dentro de una lista desplegable. Por defecto, está en Español.</p>

<h4>¿Cómo accedo al evento que contraté?</h4>

<p>Es muy fácil. Al ingresar, vas a ver un menú de navegación en el panel izquierdo de la pantalla. Deberás tocar en "Mi Evento" para ver la información correspondiente a tu evento.</p>

<h4>Servicios: ¿Cómo contratarlos?</h4>

<p>Los servicios adicionales (no contratadados inicialmente) se deberán agregar a través de un administrador. Una vez contactado, deberás hacer click en el botón "Agregar Servicios" y luego apretar la opción "PAGAR"</p>

<h4>Pagar mediante MercadoPago</h4>

<p>Por el momento, contamos con el servicio de Mercado Pago para que abones el saldo restante de los servicios contratados. Ingresando al módulo "Mercado Pago" desde el menú de navegación, podrás abonar el mismo.</p>

@code {

}
