<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="RepositorioSQL" value="DAL.Repositories.SQL" />
  </appSettings>
  
  <connectionStrings>
    <add name="AplicacionDB" connectionString="Data Source=DESKTOP-EDJTHOR;Initial Catalog=TFI;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />

  </connectionStrings>

</configuration>