<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Determinando estado de sesión, espere por favor...</p>
                </Authorizing>
                <NotAuthorized>
                    <h1>Lo sentimos</h1>
                    <p>Usted no esta autorizado a acceder a esta pagina. Debe iniciar sesion.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <p>Lo sentimos, no hay nada en esta dirección.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
